<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photos</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Photos</h1>

  <div class="photos">
    <% photos.forEach(photo => { %>
      <div class="photo">
        <img src="http://localhost:5000/uploads/<%= photo.filename %>" alt="<%= photo.filename %>">
        <p><%= photo.filename %></p>
      </div>
    <% }) %>
  </div>

  <a href="/logout">Log out</a>
</body>
</html>
