<!DOCTYPE html>
<html>
  <head>
    <title>SSR Client</title>
  </head>
  <body>
    <h1>Hello <%= user.preferred_username %>!</h1>
    <h2>Your photos:</h2>
    <ul>
      <% photos.forEach(p => { %>
        <li><img src="/uploads/<%= p.filename %>" height="100"/></li>
      <% }) %>
    </ul>
    <form action="/logout" method="get" style="margin-bottom: 1em;">
      <button style="padding: 0.5em 1em; background-color: crimson; color: white; border: none; border-radius: 4px;">
        Logout
      </button>
    </form>
  </body>
</html>
